name {
    background-color:#4aaaa5;
	color: white;
	padding: 32;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:20pt;	
 }

header {
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
	position:fixed;
	top: 0%;
	left: 0px;
	width: 95%;
	font-size: 12px;
	padding: 30;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}

links {
	float: right;
}

 .navigation {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	background-color: #ffffff
	width: 300px;
	padding: 33px 10px 33px 10px;
	color: #777777;	
	}

 h2 {
	color: #4aaaa5;
	border-bottom: 3px solid #cccccc;
	
	
	 
}

body {
color: #777777;
width: 960px;
font-size: 18px;
margin: 0 auto;
}



footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #666666;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 10px 0px;
	color: #ffffff;
	border-top: 6px solid #4aaaa5;
}

div {
	border: 2px solid #cccccc;
	padding: 20px;
    background-color: #ffffff;
	width: 950px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;	
}

html {
	background-color:#dddddd;
	padding: 100;
	
    	
}

