box {
	width: 2000;
	background-color: white;
	padding: 40px;
	position: absolute;
	position:fixed;
	top: 0;
	left: 0;
	border-bottom: 3px solid #cccccc;
	z-index: 99;
  }

name {
    background-color:#4aaaa5;
	color: white;
	padding: 25;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:20pt;
	position: absolute;
	left: 0;
	top: 0;	
 }

header {
	background-color: #ffffff;
	position:fixed;
	top: 0%;
	width: 945px;
	font-size: 12px;
	padding: 40;
	font-family: Georgia, 'Times New Roman', Times, serif;
	z-index: 99;
	}

links {
	float: right;
	position: absolute;
	right: 11;
	
}

 .navigation {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	background-color: #ffffff
	width: 300px;
	padding: 33px 10px 33px 10px;
	color: #777777;	
	}

 h2 {
	color: #4aaaa5;
	border-bottom: 3px solid #cccccc;
	
	
	 
}

body {
color: #777777;
width: 960px;
font-size: 18px;
margin: 0 auto;

}



footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #666666;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 10px 0px;
	color: #ffffff;
	border-top: 6px solid #4aaaa5;
}

div {
	border: 2px solid #cccccc;
	padding: 20px;
    background-color: #ffffff;
	width: 960px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;	
}

html {
	background-color:#dddddd;
	padding: 100;
	background-image: url(../images/prism.png);	
}

button {
	padding: 7;
	width: 70;
	background-color:#4aaaa5;
	color: white;
	cursor: pointer;
}

container {
	position:relative;
	width: 50%;
  }
  
  
  #one {
	position: absolute;
	top: -200%;
	left: 49.25%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: 20;
	width: 340;
	background-color:#4aaaa5;
	color: white;
	font-size: 24pt;
	cursor: pointer;
	text-align: center;
  }
  
